<div id="container_cadastro_suino">
    <form>
        <h1 class="display-4" id="titulo_cadastro">Cadastro de Suínos</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Brinco do Animal</label>
          <input type="number" class="form-control" id="exampleInputEmail1" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Brinco do Pai</label>
          <input type="number" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Brinco da Mãe</label>
            <input type="number" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Data de Saída</label>
            <input type="date" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Data de Saída</label>
            <select id="disabledSelect" class="form-select">
                <option value="Ativo">Ativo</option>
                <option value="Vendido">Vendido</option>
                <option value="Morto">Morto</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Data de Saída</label>
            <select id="disabledSelect" class="form-select">
                <option value="Ativo">M</option>
                <option value="Vendido">F</option>
            </select>
        </div>
        <div id="container_botao">
            <button type="submit" class="btn btn-primary" id="btn_enviar">Cadastrar</button>
        </div>
      </form>
</div>